.ane-content {
    h2 {
        margin: 10px 0 15px 0;
    }
    h3 {
        margin: 10px 0 15px 0;
    }
    h4 {
        margin: 10px 0 15px 0;
    }
    h5 {
        margin: 10px 0 15px 0;
    }
    p {
        margin-bottom: 20px !important;
        &:last-child {
            margin-bottom: 0;
        }
        @include mobile {
            margin-bottom: 20px !important;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;

        li {
            color: var(--ane-warna-gelap);
            list-style: none;
            position: relative;
            padding-left: 20px;

            &:before {
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                content: '\e901';
                font-family: FontAne;
                font-size: 7px;
                line-height: 24px;
                color: var(--ane-warna-utama);
                font-weight: 400;
            }
            ul {
                margin: 10px 0;

                li {
                    margin-left: 0;
                    &:before {
                        content: '\e911';
                        color: var(--ane-warna-alternatif);
                    }
                    ul {
                        margin: 10px 0;

                        li {
                            margin-left: 0;
                            &:before {
                                content: '\e901';
                                color: var(--ane-warna-gelap);
                            }
                        }
                    }
                }
            }
        }
    }
    .ane-iklan {
        .isi {
            width: 50%;
            margin: auto;

            @include mobile {
                width: 70%;
            }
        }
    }
    ol {
        padding: 0;
        margin: 0;
        margin-left: 25px;
        margin-bottom: 30px;

        li {
            color: var(--ane-warna-gelap);
            list-style-type: decimal;
            padding-left: 15px;


            ol {
                margin: 15px 0;
                padding-left: 25px;
                li {
                    color: var(--ane-warna-gelap);
                   list-style-type: lower-alpha;
               }
            }
        }
    }
    .wp-block-cover {
        margin-bottom: 30px;
        text-align: center;
        height: 400px;
        background-attachment: fixed;

        h2 {
            margin-left: 0;
            font-size: 1.5rem;
            font-weight: 800;
            margin-bottom: 0;

            &:before {
                content: '';
                background-color: transparent;
            }
        }
    }

    .wp-block-cover-image {
        height: 400px;
        background-attachment: fixed;
    }

    .wp-block-gallery {
        margin-bottom: 30px;
        
        ul.blocks-gallery-grid {
            padding: 0;
            margin: 0;
            list-style: none;
            li.blocks-gallery-item {
                padding: 0;
                margin: 0;
                &:before {
                    content: '';
                }
            }

        }
        .blocks-gallery-item {
            figure {
                border-radius: 6px;
                overflow: hidden;
                position: relative;
                margin: 2px;

                img {
                    border-radius: 4px;
                }
                figcaption {
                    line-height: 1.2;
                    padding: 20px 8px 8px 8px;
                    font-size: 13px;
                    background: linear-gradient(0deg,rgba(var(--ane-warna-gelap-rgb),.8),rgba(var(--ane-warna-text-rgb),.3) 70%,transparent);
                }
            }
        }
    }
    .wp-block-image {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 4px;
            position: relative;
        }
    }
    figcaption {
        margin-top: 0;
        margin-bottom: 0;
        display: block;
        padding: 10px;
        padding-bottom: 0;
        font-size: 13px;
        line-height: 1.2;
        text-align: center;
        font-style: italic;
        width: 100%;
    }

    .wp-block-embed {
        width: 100%;
        display: block;
        margin: 1rem 0;
        margin-bottom: 30px;

        .wp-block-embed__wrapper {
            position: relative;
            padding-top: 0;
            height: 0 !important;
            min-height: 0;
            padding-bottom: 116%;
            overflow: hidden;
            margin-bottom: 0;

            iframe {
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .wp-block-embed-wordpress {
        .wp-block-embed__wrapper {
            padding-bottom: 92%;
        }

        @include mobile {
            .wp-block-embed__wrapper {
                padding-bottom: 125%;
            }
        }
    }
    .wp-block-embed-twitter {

        @include mobile {
            .wp-block-embed__wrapper {
                padding-bottom: 125%;
            }
        }
    }
    .wp-block-embed-instagram {
        @include mobile {
            .wp-block-embed__wrapper {
                padding-bottom: 116%;
            }
        }
    }
    iframe.embed-facebook {
        @include mobile  {
            width: 100%;
        }
    }
    .wp-block-embed-youtube {
        .wp-block-embed__wrapper {
            padding-bottom: 57%;
        }
    }

    figure {
        margin-bottom: 30px;
    }
    ul.wp-block-latest-posts {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        box-shadow: 0 0 20px 0 rgba(var(--ane-warna-gelap-rgb), 0.1);
        padding: 15px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        width: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;

        &:after {
            content: "\e916";
            font-family: "FontAne";
            color: rgba(var(--ane-warna-gelap-rgb), 0.1);
            font-style: normal;
            font-size: 100px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: -10px;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:before {
            content: 'Konten Terbaru';
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            color: var(--ane-warna-gelap);
        }
        li {
            margin-left: 0;
            padding-left: 0;
            padding-bottom: 7px;
            padding-top: 7px;
            border-bottom: 1px solid;
            @include BorderColor;
            line-height: 1.2;

            &:before {
                content: '';
            }

            &:last-child {
                border-bottom: 0;
                padding-bottom: 0;
            }
            a {
                color: var(--ane-warna-text);

                &:hover {
                    color: var(--ane-warna-utama);
                }
            }
        }
    }

    blockquote {
        margin: 20px 0;
        padding: 30px;
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0 0 30px rgba(var(--ane-warna-gelap-rgb),0.1);
        border-radius: 10px;
        overflow: hidden;
        border-left: 4px solid var(--ane-warna-utama);

        p {
            font-weight: 400;
            font-style: italic;
            font-size: 20px;
            line-height: 1.4;
        }
        &:before {
            content:"\e945";
            font-family:'FontAne';
            color: rgba(var(--ane-warna-gelap-rgb),0.1);
            font-style: normal;
            font-size: 100px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: -10px;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        cite {
            float: center;
            font-size: 14px;
            font-weight: 700;
            &:before {
                content: "~";
                padding-right: 5px;
            }
        }
    }

    .wp-block-media-text {
        width: 100%;
        margin-bottom: 30px;
    }

    .has-large-font-size {
        font-size: 23px;
        line-height: 1.25;
        margin-bottom: 0;
    }
    .wp-block-group {
        width: 100%;
    }
    .wp-block-columns {
        margin-bottom: 30px;
        .wp-block-column {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }



    @include mobile {

        .wp-block-image {
            max-width: none;
            width: auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;

            img {
                border-radius: 0;
            }
        }
        ul.wp-block-latest-posts {
            width: 100%;
            float: none;
        }
        .wp-block-cover {
            max-width: none;
            width: auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
        }
        .wp-block-group {
            max-width: 100%;
            margin-right: 0;
        }
        .wp-block-gallery {
            @include DisplayLebar;

            .blocks-gallery-item {
                figure {
                    border-radius: 4px;
                }
            }
        }

        .ane-author {
            @include DisplayLebar;
            margin-top: 60px;
        }

    }

}
.wp-block-table {
    border-collapse: collapse;
    font-size: 16px;
    line-height: 1.3;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px 0;
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    thead {
        tr {
            border-bottom: 2px solid var(--ane-warna-utama);
            margin-bottom: 2px;
            font-weight: 600;
            color: var(--ane-warna-gelap);
        }
    }
    th,
    td {
        padding: 12px 15px;
    }
    tbody {
        tr {
            border-bottom: 1px solid;
            @include BorderColor;

            &:nth-of-type(even) {
                background-color: rgba(var(--ane-warna-gelap-rgb),0.08);
            }

            &:last-child {
                border-bottom: 2px solid var(--ane-warna-utama);
                margin-bottom: 2px;
            }

            .active-row {
                font-weight: bold;
                color: var(--ane-warna-utama);
            }
        }
    }
    figcaption {
        font-size: 13px;
        padding: 10px 0;
        font-style: italic;
        text-align: center;
    }
}
