.ane-konten-arsip {
    @include DisplayBlock;

    .ane-cari {
        margin-bottom: 40px;
    }

    .ane-konten-overlay {
        margin-bottom: 30px;
    }

    @include mobile {
        .ane-konten-overlay {
            margin-bottom: 20px;
            .entry-header {
                max-width: none;
                width: auto;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;
                height: 214px;
                border-radius: 0;

                .post-content {
                    padding: 15px 15px 25px 15px;

                    h2 {
                        font-size: 1.1rem;
                    }
                }
            }
        }
        .ane-konten-lis {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid;
            @include BorderColor;

            &:last-child {
                border-bottom: 0;
            }
            .entry-content {
                h2 {
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
    }

    .ane-wide-banner {
        margin-bottom: 30px;
    }
}
.page-header {
    .ane-cari {
        margin-bottom: 30px;
    }
}
