.ane-page {
    @include mobile {
        border-bottom: 5px solid rgba(0,0,0,0.2);
        padding-top: 10px;
        margin-bottom: 30px;
    }
    .entry-header {
        margin-bottom: 30px;
        h1 {
            font-size: 30px;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 30px;
            padding-left: 18px;
            position: relative;

            @include mobile {
                font-size: 25px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background-color: var(--ane-warna-utama);
                width: 11px;
                height: 100%;
                border-radius: 3px;
            }
        }
        @include mobile {
            .ane-image {
                @include DisplayLebar;
            }
        }
    }
}
.ane-page-ns {
    .entry-header {
        h1 {
            text-align: center;
            font-size: 1.9rem;

            &:before {
                background-color: transparent;
            }
        }
        .ane-image {
            @include borderradius;
            overflow: hidden;
        }
    }
    .entry-content {
        width: 70%;
        margin: auto;
    }

    @include mobile {
        .entry-header {
            .ane-image {
                max-width: none;
                width: auto;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;
                border-radius: 0;
            }
        }
        .entry-content {
            width: 100%;
        }
    }
}
.ane-page-kontak {
    .kontak-konten {
        @include DisplayBlock;
        margin-bottom: 31px;
        @include boxshadow;
        @include borderradius;
        border-radius: 20px;
        padding: 15px;
        border-bottom: 2px solid var(--ane-warna-utama);
        position: relative;
        overflow: hidden;

        &:before {
            content:"\e91a";
            font-family:'FontAne';
            color: rgba(var(--ane-warna-gelap-rgb),0.1);
            font-style: normal;
            font-size: 100px;
            line-height: 1;
            position: absolute;
            left: 0;
            top: -10px;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .alamat {
            @include DisplayBlock;

            h3 {
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
        .kontak{
            @include DisplayBlock;
            p {
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    .kontak-map {

        .acf-map {
            @include borderradius;
            @include boxshadow;
            border-bottom: 2px solid var(--ane-warna-utama);
        }
    }
}
.featured-image-caption {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    font-style: italic;
    width: 100%;
}
